services:
  pgvector:
    image: pgvector/pgvector:pg16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=openmemory
    volumes:
      - pgvector_pgdata:/var/lib/postgresql/data
    restart: always


  mem0_store:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - mem0_storage:/mem0/storage

  openmemory-mcp:
    image: tjceo721/openmemory-mcp:latest
    build:
      context: ./api
      dockerfile: Dockerfile
    env_file:
      - /opt/OpenMemory-MCP/api/.env
    environment:
      - USER=USER
      - DATABASE_URL=postgresql://postgres:123456@pgvector:5432/openmemory
    depends_on:
      - mem0_store
      - pgvector
    ports:
      - "8765:8765"
    volumes:
      - db_storage:/var/lib/openmemory
    command: >
      uvicorn main:app --host 0.0.0.0 --port 8765 --workers 4

  openmemory-ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    image: tjceo721/openmemory-ui:latest
    ports:
      - "3002:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://43.138.163.86:8765 # 替换为你的本地 URL 或域名
      - NEXT_PUBLIC_USER_ID=USER

volumes:
  mem0_storage:
  db_storage:
  pgvector_pgdata:
